<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Do NOT rewrite /api calls (pass to Passenger backend)
  RewriteCond %{REQUEST_URI} ^/api [NC]
  RewriteRule ^ - [L]

  # Direct existing files and folders
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Single Page Application router fallback
  RewriteRule ^ index.html [L]
</IfModule>
